
@{
    ViewBag.Title = "CodeFirst";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CodeFirst</h2>

@model ASPMVC.Models.Product
@using (Html.BeginForm("AddProduct", "DB"))
{
    @Html.EditorFor(x => x)
    <input type="submit" value="Send" />
}
