@model ASPMVC.Models.HelpersModel

<p>EditFor dla całego modelu</p>
<li>
    @Html.EditorFor(m => m.Bool)
    @Html.EditorFor(m => m.DateTime)
    @Html.EditorFor(m => m.Decimal)
    @Html.EditorFor(m => m.String)
</li>